section{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}
.welcome{
    color: rgb(30, 210, 165);
    font-size: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    border-color: brown;
}
.to-my-world{
    color: aqua;
    border-top: blue;
    font-size: 500px;
    font-style: italic;

}
.half-width{
    width: 50%;
    padding-left: 2px;
}
.half-width img{
    width: 150%;
}
.top-banner div h1{
    font-size: 50px;
}
.my-name{
    color: rgb(204, 69, 16);
    border: 1px solid red;
    font-weight: 400;
    font-family: fantasy;
    
    
    
}
.my-name:hover{
    color: deeppink;
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px teal;
}