section{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}
.half-width{
    width: 50%;
    padding-left: 2px;
}
.half-width img{
    width: 150%;
}
.top-banner div h1{
    font-size: 50px;
}
.my-name{
    color: lightsalmon;
    border: 1px solid red;
    
}
.my-name:hover{
    color: deeppink;
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px teal;
}